{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [],
    "extends": [
        "eslint:recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "globals": {
        "Promise": true
    },
    "rules": {
        "react/no-direct-mutation-state": [
            "off"
        ],
        "no-unused-vars": [
            "off"
        ],
        "no-cond-assign": [
            "off"
        ],
        "no-console": [
            "off"
        ],
        "max-len": [
            "warn",
            9998,
            4
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "semi": 2
    }
}
